<table class="table table-bordered table-hover table-light .w-auto">
<thead>
  <tr>
  <th><h4>ID</h4></th>
  <th><h4>Title</h4></th>
  <th><h4>Body</h4></th>
  <th><h4>Comment</h4></th>
  <th><h4>Added By</h4></th>
  <th><h4>Tags</h4></th>
</tr>
</thead>

<tbody>
  <tr *ngFor="let question of questions?.reverse()" [routerLink]="['/question/', question.id]">
  <td>{{question.id}}</td>
  <td>{{question.title}}</td>
  <td>{{question.body}}</td>
  <td>{{question.comment}}</td>
  <td>{{question.added_by}}</td>
  <td>
    <p *ngFor="let tag of question.tags">{{tag.name}}</p>
  </td>
  </tr>
</table>
