<app-navbar> </app-navbar>
<div class="container-sm">
  <button
    class="btn btn-secondary"
    data-toggle="collapse"
    data-target=".collapse"
    aria-expanded="false"
    (click)="showPreview = !showPreview"
  >
    Toggle Questions
  </button>
  <button class="btn btn-secondary" (click)="toggleView = !toggleView">
    Toggle View
  </button>
  <div class="container" id="counter">
    {{ questions.length }} question<span
      *ngIf="questions.length > 1 || questions.length === 0"
      >s</span
    >
    found
    <span *ngIf="this.state === 'tag'"
      >for the tag(s): <b>{{ this.tag }}</b></span
    >
  </div>
  <div class="container" *ngIf="toggleView === true">
    <div class="container pt-1">
      <div
        class="mb-4 p-4 bg-light"
        *ngFor="let question of questions.reverse(); let i = index"
      >
        <div id="question_container_{{ i }}" class="click">
          <div id="question_title_{{ i }}" class="container row">
            <div class="col-8">
              <h5>{{ i + 1 }}. {{ question.title }}</h5>
            </div>
            <div class="col-4" id="button_bar">
              <button class="btn slide_button btn-warning mr-2" id="edit_{{ i }}" (click)="routeToEditForm(question)">
                <i class="icon fas fa-pen"></i>
                <span class="button_label">&nbsp;Edit</span>
              </button>
              <button class="btn slide_button btn-danger mr-2" id="delete_{{ i }}">
                <i class="icon fas fa-trash"></i>
                <span class="button_label">&nbsp;Delete</span>
              </button>
              <button class="btn slide_button btn-primary disabled" id="copy_{{ i }}">
                <i class="icon fas fa-clipboard"></i>
                <span class="button_label">&nbsp;Copy</span>
              </button>
            </div>
          </div>
          <div class="container">
            <div class="row pl-3">
              <span class="mt-2" id="tags_label"
                >Tags:
                <span
                  class="mt-2"
                  id="no_tags_label"
                  *ngIf="question.tags.length === 0"
                >
                  None
                </span>
              </span>
              <app-tags
                *ngFor="let tag of question.tags.sort(compareTagName)"
                [tag]="tag"
                [routerLink]="['/questions/tagged', tag.name]"
              ></app-tags>
            </div>
          </div>
          <div id="question_body_preview_{{ i }}" class="container">
            {{
              question.body.length > 50
                ? (question.body | slice: 0:50) + "..."
                : question.body
            }}
          </div>
        </div>
        <td>{{ question.added_by }}</td>
      </div>
    </div>
  </div>
</div>
<!-- [routerLink]="['/question/', question.id]" -->

<!-- Table View -->
<!-- <div class="container" *ngIf="toggleView === true">
  <table class="mt-2 table table-bordered table-hover table-secondary .w-auto">
    <tbody>
      <tr *ngFor="let question of questions.reverse()">
        <td class="click">
          <div
            class="container-fluid"
            [routerLink]="['/question/', question.id]"
          >
            <h6>{{ question.title }}</h6>
            {{
              question.body.length > 50
                ? (question.body | slice: 0:50) + "..."
                : question.body
            }}
          </div>
          <div class="container-fluid">
            <div class="row mt-2">
              <app-tags
                *ngFor="let tag of question.tags.sort(compareTagName)"
                [tag]="tag"
                [routerLink]="['/questions/tagged', tag.name]"
              ></app-tags>
            </div>
          </div>
        </td>
        <td>{{ question.added_by }}</td>
      </tr>
    </tbody>
  </table>
</div> -->

<!-- Accodian View -->
<!-- <div class="container" *ngIf="toggleView === false">
  <div
    class="container-fluid"
    *ngFor="let question of questions.reverse(); let i = index"
  >
    <div id="accordion_{{ i }}">
      <div class="card bg-light border-light">
        <div
          class="card-header"
          id="heading_{{ i }}"
          data-toggle="collapse"
          [attr.data-target]="'#collapse_' + i"
          aria-expanded="false"
          [attr.aria-controls]="'collapse_' + i"
          (click)="showPreview=!showPreview"
        >
          <div class="container-fluid">
            <h5 class="mb-0">
              {{i+1}}. {{ question.title }}
            </h5>
          </div>
          <div class="container-fluid">
            <div class="row pl-3">
              <span class="mt-2" id="tags_label">Tags:</span>
              <app-tags
                *ngFor="let tag of question.tags.sort(compareTagName)"
                [tag]="tag"
                [routerLink]="['/questions/tagged', tag.name]"
              ></app-tags>
            </div>
          </div>
          <div class="container-fluid" *ngIf="this.showPreview">
            {{
              question.body.length > 50
                ? (question.body | slice: 0:50) + "..."
                : question.body
            }}<br />
          </div>
        </div>

        <div
          id="collapse_{{ i }}"
          class="collapse"
          [attr.aria-labelledby]="'heading_' + i"
        >
          <div class="card-body">
            <div class="container-fluid">
              {{ question.body }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
