<div class="container">
  {{questions.length}} questions found
  <table class="mt-2 table table-bordered table-hover table-secondary .w-auto">
    <thead>
      <tr>
        <th><h4>Questions</h4></th>
        <th><h4>Added By</h4></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let question of questions?.reverse()">
        <td class="click">
          <div class="container-fluid" [routerLink]="['/question/', question.id]">
          <h6>{{ question.title }}</h6>
          {{
            question.body.length > 50
              ? (question.body | slice: 0:50) + "..."
              : question.body
          }}
        </div>
          <div class="container-fluid">
            <div class="row pl-3">
              <app-tags *ngFor="let tag of question.tags" [tag]="tag" [routerLink]="['/questions/tagged', tag.name]"></app-tags>
            </div>
          </div>
        </td>
        <td>{{ question.added_by }}</td>
      </tr>
    </tbody>
  </table>
</div>
