<div class="container">
  <form [formGroup]="questionForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-sm-2">
        <label>
          Question body:
        </label>
      </div>
      <div class="col-sm-2">
        <textarea formControlName="text"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <label>
          Comment/Hint/Answer:
        </label>
      </div>
      <div class="col-sm-2">
        <input type="text" formControlName="comment" />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <label>
          Added by:
        </label>
      </div>
      <div class="col-sm-2">
        <input type="text" formControlName="added_by" />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-2">
        <button type="submit" [disabled]="!questionForm.valid">Submit</button>
      </div>
    </div>
  </form>
</div>
